@page
@model ITHS_DB_Lab3_Web.Pages.ResourceEntityModel
@{
    ViewData["Title"] = "ResourceEntity";
}

<h1>Resource Entity</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Resource Name</th>
            <th scope="col">Entity Id</th>
            <th scope="col">Identification Number</th>
            <th scope="col">Lost By Loan</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var Resource_EntityDetails in Model.EntityData)
            {
            <tr>
                <td>@Resource_EntityDetails.Id</td>
                <td>@Resource_EntityDetails.ResourceName</td>
                <td>@Resource_EntityDetails.EntityId</td>
                <td>@Resource_EntityDetails.IdentificationNumber</td>
                @if (Resource_EntityDetails.LostByLoanId == 0)
                {
                    <td>Not lost</td>
                }
                else
                {
                    <td>@Resource_EntityDetails.LostByLoanId</td>
                }
                <td>
                    <a asp-page="/DeleteResourceEntity" asp-route-resourceentityid="@Resource_EntityDetails.Id"><i class="fas fa-trash" style="color:red"></i></a>
                </td>
            </tr>
        }
            </tr>
        </tbody>
</table>
