@using ITHS_DB_Lab3_Web
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model LoanDetails
<tr>
    <td>@Model.Id</td>
    <td>@Model.FullNameLoaner</td>
    <td>@Model.FullNameBorrower</td>
    <td>@Model.StartDate</td>
    <td>@Model.EndDate</td>
    <td>@Model.ReturnDate</td>
    @if(Model.ReturnDate.Length <= 0)
    {
        <td>
                <a asp-page="./ReturnLoan" asp-route-loanid="@Model.Id" class="text-secondary"><i class="far fa-check-square text-warning"></i> Return</a>
        </td>
    } else
    {
        <td>
                <span class="text-success"><i class="fas fa-check-square"></i> Returned</span>
        </td>
    }

</tr>